body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  margin: 0px;
  text-align: center;
  font-weight: bold;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.navbar li {
    float: left;
}

.navbar li button {
    display: block;
    color: white;
    background-color: teal;
    border: none;
    font-size: 16px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: right;
    height: 50px;
}

.navbar li button:hover {
  opacity: .8;
}

.navbar img {
    border: 0;
    height: 34px;
    width: 34px;
    border-radius: 25em;
    display: block;
    margin-right: 16px;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar li a:hover {
    background-color: #111;
}

.navbar .avatar {
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 46px;
}

.navbar .username {
  float: right;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  font-style: italic;
  margin: auto 16px;
}

.log-in-to {
  text-align: center;
  font-style: italic;
  color: lightGrey;
}

.todos {
  margin-left: 20px;
}

.new {
  color: #aaa;
}

.title {
  text-align: center;
}

.post {
  padding: 20px;
  border: 1px solid black;
  margin: 5px;
}

.post-title {
  font-style: bold;
}

.post-body {
  font-size: 12px;
  text-indent: 10px;
  margin-top: 0px;
}

.post-url {
  font-size: 10px;
  font-style: italic;
  color: #BEBEBE;
  top: -5px;
  position: relative;
}

.byline {
  font-size: 10px;
  font-style: italic;
  color: #BEBEBE;
  top: -5px;
  position: relative;
}

.add-post {
  font-size: 14px;
  padding: 20px;
  border: 1px solid black;
  margin: 5px;
}

.add-post input, textarea {
  margin-bottom: 10px;
}

.comment-count {
  margin-top: 10px;
  font-size: 10px;
  font-style: italic;
}

.comment {
  padding: 10px 15px 5px 15px;
  background-color: #F5F5F5;
  margin: 5px;
}
