body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

h3 {
  margin: 0px;
  text-align: center;
  font-weight: bold;
}

.centered {
  text-align: center;
}

.todos {
  margin-left: 20px;
}

.new {
  color: #aaa;
}

.title {
  text-align: center;
}

.post {
  padding: 20px;
  border: 1px solid black;
  margin: 5px;
}

.post-title {
  font-style: bold;
}

.post-body {
  font-size: 12px;
  text-indent: 10px;
  margin-top: 5px;
}

.post-url {
  font-size: 10px;
  font-style: italic;
  color: #BEBEBE;
  top: -5px;
  position: relative;
}

.byline {
  font-size: 10px;
  font-style: italic;
  color: #BEBEBE;
}

.add-post {
  font-size: 14px;
  padding: 20px;
  border: 1px solid black;
  margin: 5px;
}

.add-post input {
  margin-bottom: 10px;
}

.comment-count {
  margin-top: 10px;
  font-size: 10px;
  font-style: italic;
}

.comment {
  padding: 20px;
  background-color: #F5F5F5;
  margin: 5px;
}
